* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: rgb(64, 145, 244);
  color: white;
  margin: auto;
  font-size: 18px;
  text-align: center;
}

.mayaangelou {
  height: 80px;
  text-align: center;
  margin: 50px auto;
}

.mayaangelou h1 {
  font-size: 50px;
}

.mayaangelou h1,
p {
  padding-bottom: 20px;
  
}

#img-div {
  max-width: 650px;
  width: 100%;
  height: 450px;
  background-color: rgb(195, 195, 187);
  text-align: center;
  margin: auto;
}

#img-div img {
  width: 90%;
  max-width: 100%;
  text-align: center;
  height: 90%;
  margin: auto;
  padding-top: 40px;
  display: block;
  object-fit: contain;
}

#img-caption {
  color: #000000;
  margin-top: 10px;
  padding: 0;
}

#main .main {
  text-align: justify;
  vertical-align: center;
  line-height: 30px;
  width: 500px;
  margin: auto;
  padding: 50px 0;
}

#main h2 {
  margin-bottom: 30px;
  text-align: center;
  vertical-align: center;
}

#main h3 {
  color: rgb(3, 23, 52);
  text-align: center;
  vertical-align: center;
  padding: 0;
  margin: 0 0 30px 0;
}

ul > li {
  margin-bottom: 30px;
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: rgb(3, 23, 52);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#main blockquote {
  margin: 50px;
  text-align: center;
  vertical-align: center;
  padding: 0;
}

blockquote > i {
  margin: 20px 0 0 0;
  padding: 0;
}

h3 a {
  cursor: pointer;
  color: rgb(243, 243, 237);
  text-decoration: none;
}

h3 a:hover {
  cursor: pointer;
  color: rgb(3, 23, 52);
}

.bold {
  font-weight: bold;
  color: rgb(3, 23, 52);
}

@media only screen and (max-width: 480px) {

  
  .ul {
    
    width: 350px;
    text-align: center;
    margin: auto;
    
  }

  
  body {
    font-size: 14px;
    text-align: center;
    margin: auto;
    width: 380px;
  }

  

  h2, h3, p {
    
    text-align: center;
  }

  h3, p {
    margin-left: 100px;
  }
    

  .mayaangelou h1 {
  font-size: 24px;
  text-align: center;
  margin: auto;
  margin-left: 50px;
  }

  #img-div {
    height: 300px;
    width: 350px;
    text-align: center;
    margin: auto;
    margin-left: 100px;
  }

  img {
    text-align: center;
  }

  #img-caption {
    padding: 0;
    margin: 0;
  }

  h3 {
  font-size: 16px;
  margin: auto;
  margin-left: 50px;
  }
}
